@{
	Layout = "_LayoutDeslogada";
	ViewData["Title"] = "Página Restrita";
}

<div class="text-center">
	<div class="container col-md-6 shadow-lg p-3 mb-5 bg-white rounded">
		<p>
			Apenas usuários autorizados têm acesso a esta página.<br />
			<a asp-controller="Home" asp-action="Index">click aqui para voltar para a home.</a>
		</p>
	</div>
</div>